<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GRACE TESTING</title>
    <form id="fibForm" action="/minilab/testing" method="POST" >
          <label for="list" class="pt-5 text-black">List:</label>
          <input id="list" name="list" placeholder="Enter List" type="text" required="required">
        <button class="button"><span>Go</span></button>
    </form>
    <br>
    <br>
    <table class="container">
        <thead>
        <tr style="word-break:break-all">
            <th width="400px"><h1>List</h1></th>
            <th width="125px"><h1>Mean</h1></th>
            <th width="125px"><h1>Median</h1></th>
            <th width="125px"><h1>Mode</h1></th>
        </tr>
        </thead>
        <tbody>
        <tr style="word-break:break-all;">
            <td>{{g}}</td>
            <td>{{list}}</td>
            <td>{{median}}</td>
            <td>{{mode}}</td>
        </tr>

        </tbody>
    </table>
</head>
<body>

</body>
</html>
{% endblock %}